@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-san {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
                  /* Shared Type */
.display-flex{
display: flex;
}
/* dark2 */
.dark-text{
    color: #424242;
}
/* dark3 */
.light-grey-text{
    color:#727272;
}
.primary-text{
    color: #FF900E;
}

.light-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-p{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.section-title{
        font-size: 2.8rem;
        font-weight: 700;
       }
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
.feature{
    max-width: 530px;
    padding-left:73px;
}
/* Header Type */

/* Navbar type */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 600;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right:30px ;
}
.nav-link{
    text-decoration: none;
    font-weight: 5000;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
                   /* banner related  */
     .banner-content{
        max-width: 862px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
     }
     .banner-title{
        font-size: 4rem;
        font-weight: 700;
     }
     .img-banner{
        max-width: 100%;
     }   

                    /* team and feature */
       .teams{
        align-items: center;
       }
       .team-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
       }
       .feature{
        margin-left: 130px;
        max-width: 530px;
       }
       #qck-list{
      font-weight: 500;
       }      
                   /* Responsive media */
    @media screen and ( max-width: 576px){
        .navbar, .nav-links, .teams{
         flex-direction:column;
        }
        .team-image{
            grid-template-columns: repeat(1, 1fr);
        }
        .feature{
            margin-left: 10px;
        }
    }
    @media screen and (min-width:576px) and (max-width:992px){
        .teams{
            flex-direction:column;
        }
    }